.wrapper {
  border-radius: 12px;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 35px;
}

.selectSort {
  width: 200px;
  height: 35px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  margin-left: 30px;
}

.myLabel {
  flex-direction: column;
  margin-right: 10px;
  margin-left: 50px;
}

.myLabel input {
  margin-top: 5px;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.myButton {
  width: 120px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: #82BBB5;
  color: white;
  cursor: pointer;
  margin-left: auto;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.3s ease 0s;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.myButton:hover {
  background-color: #68a89a; 
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}



.myButton span {
  font-size: 14px;
}
