body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 28px;
    color: #007bff;
}

input[type="text"],
input[type="number"] {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.container__buttons button {
    flex: 1;
    margin-right: 10px;
}

.lamp {
    padding: 10px;
    background-color: #444;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.lamp strong {
    font-weight: bold;
    color: #007bff;
}

#sort,
#search {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search {
    background-color: black;
}

#sort:hover {
    background-color: #0056b3;
}