.section2 {
    display: flex;
    justify-content: space-between;
    margin: 0 90px;
}

.section2-column1,
.section2-column2,
.section2-column3 {
  align-items: center;
  text-align: center;
}

.section2-image {
  margin-bottom: 30px;
}

.section2-text-title,
.section2-text-pharagraph {
    width: 260px;
}

.section2-text-title {
    margin-bottom: 10px;
}

.section2-text-pharagraph {
    color: #7A7A7A;
}