.section1 {
    display: flex;
    margin-bottom: 100px;
}

.section1-image {
    margin-left: 250px;
    margin-right: 40px;
}

.section1-text-title {
    margin-top: 20px;
    font-size: 35px;
    margin-bottom: 15px;
}

.section1-text-pharagraph {
    width: 600px;
    font-size: 18px;
    color: #7A7A7A;
}