.footer {
    background-color: #303636;
}

.footer__main {
    display: flex;
    justify-content: space-between;
}

.footer__logos1 {
    margin: 0 15px;
    width: 40px ;
    height: 40px;
}

.footer__logos {
    margin-top: 45px;
    margin-right: 20px;
}

.footer__logo {
    margin-top: 35px;
    margin-right: 100px;
}

.footer__text-title {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
}

.footer__text-pharahraph {
    width: 350px;
    margin-left: 30px;
    font-size: 15px;
    color: white;
    margin-bottom: 50px;
}

.footer__bottom-line {
    width: 96%;
    height: 1px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 20px;
}

.footer__bottom-copyrights {
    text-align: center;
    height: 40px;
    color: white;
    font-size: 14px;
}